<!DOCTYPE html>
<html>
<head>
<title>Astrology</title>
</head>
<body>

    <h1>Astrology Tribute Page</h1>
    <p>Astrology is a pseudoscience that claims to divine information about human affairs
        and terrestrial events by studying the movements and relative positions of celestial 
        objects. Astrology has been dated to at least the 2nd millennium BCE, and has its roots 
        in calendrical systems used to predict seasonal shifts and to interpret celestial cycles 
        as signs of divine communications.</p>
    <p>Many cultures have attached importance to astronomical events, and some—such as the Hindus,
        Chinese, and the Maya—developed elaborate systems for predicting terrestrial events from celestial
        observations. Western astrology, one of the oldest astrological systems still in use, can trace 
        its roots to 19th–17th century BCE Mesopotamia, from where it spread to Ancient Greece, Rome, the 
        Arab world and eventually Central and Western Europe. Contemporary Western astrology is often 
        associated with systems of horoscopes that purport to explain aspects of a person's personality and 
        predict significant events in their lives based on the positions of celestial objects; the majority 
        of professional astrologers rely on such systems.</p>
    <p>Throughout most of its history, astrology was considered a scholarly tradition and was common in 
        academic circles, often in close relation with astronomy, alchemy, meteorology, and medicine. It was 
        present in political circles and is mentioned in various works of literature, from Dante Alighieri 
        and Geoffrey Chaucer to William Shakespeare, Lope de Vega, and Calderón de la Barca.</p>
    <a href= "https://en.wikipedia.org/wiki/Astrology">go to Astrology wiki</a>

    <h2>Horoscope</h2>
    <p>A horoscope is an astrological chart or diagram representing the positions of the Sun, Moon, planets,
        astrological aspects and sensitive angles at the time of an event, such as the moment of a person's birth.
        This means however the stars were placed at the time of birth for a person shows their characteristics and
        personality, including weakness.</p>
    <a href= "https://en.wikipedia.org/wiki/Horoscope">go to Horoscope wiki</a>

    <h2>The Zodiac</h2>
    <p>The zodiac, the 12 signs listed in a horoscope, is closely tied to how the Earth moves through the heavens.
        The signs are derived from the constellations that mark out the path on which the sun appears to travel over
        the course of a year. As Earth orbits the sun, the sun appears to pass in front of different constellations.
        Much like the moon appears in a slightly different place in the sky each night, the location of the sun
        relative to distant background stars drifts in an easterly direction from day to day. </p>
    <a href= "https://earthsky.org/astronomy-essentials/what-is-the-zodiac#:~:text=The%20zodiac%2C%20the%2012%20signs,the%20course%20of%20a%20year.&text=The%20constellations%20(green)%20through%20which,sun%20passes%20define%20the%20zodiac.">What is the zodiac?</a>

    <h2>The Birth Chart</h2>
    <p>An astrology birth chart is a sky map at the exact moment you were born. It helps you to identify what your
        zodiac signs are. To calculate your natal chart you will need your time, date and place of birth.
        An astrology chart reading can reveal your strengths and weaknesses, your opportunities for soul growth,
        the best timing for your most important moves. </p>
    <a href= "https://astrostyle.com/astrology-birth-chart/">What is a Birth Chart?</a>
    <p> Click on the following link to calculate your own Birth Chart:</p>
    <a href= "https://astro.cafeastrology.com/natal.php">My Birth Chart</a>
</body>
</html>